.main-box{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Noto Sans", sans-serif;
}
.cross-logo{
  font-size: 2rem;
  padding: 1rem;
}
h1{
  font-size: 2rem;
  padding: 1rem;
  margin: 0;
}
button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.on {
  color: #ffd000;
}
.off {
  color: rgb(209 213 219);
}
.star,.like{
  font-size: 4rem;
}
.sub-box{
  display: flex;
  gap: 2rem;
}
.box{
  padding: 1rem;
  border-bottom: solid lightgrey 1px;
}
.sub-box-like{
  display: flex; 
  align-items: center; 
  gap: 1rem;
}
h3{
  font-size: 1rem;
  color: rgb(156 163 175);
}
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
.words{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;


}
.word{
  padding:0.5rem 1rem;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: 700;
}
.word-on{
  background-color: aquamarine;
}
.word-off{
  background-color: lightgray;
}
.submit{
  margin: 2rem auto;
  padding: 1rem; 
  background-color: aquamarine;
  border-radius: 2rem;
  font-size: 1rem;
  color: rgb(1, 140, 96);
  font-weight: 600;
}
@media only screen and (max-width: 600px) {
  .star,.like{
    font-size: 3rem;
  }
  .submit{
    margin: 2rem 1rem;
    padding: 1rem; 
    background-color: aquamarine;
    border-radius: 0.25rem;
    font-size: 1rem;
  }
}